.news-main-img{
    height: 450px;
    width: 800px;
   
}
.news-small-img{
    max-height:200px ;
    width: 150px;
}
.news-small-img2{
    max-height: 250px;
    min-height: 100px;
    height: auto;
}
